$keycolor: rgb(211, 211, 211);

header {
    display: flex;
    justify-content: center;
    padding: 10px 30px;

    h1 {
        font-size: -webkit-xxx-large;
        font-family: 'Fjalla One', sans-serif;
        text-decoration: underline overline $keycolor;
    }
}